.git
__pycache__
/change_padding/*
/checkpoints/*
/crop/*
/data/custom/images/*
/data/custom/labels/*
/data/json_origin/*.json
/data/samples/*
/logs/*
/output/*
/retraining_nocrop/*.pth
/weights/*.weights
